h2 {
    font-weight: bold;
}

#reqNotifis {
    font-size: .8rem;
    width: auto;
    height: auto;
    padding: 2px 8px;
    border-radius: 8px;
    background-color: var(--smoke);
    color: var(--darkred);
}

td input{
    margin-top: .9rem;
}
p{
    margin: .5rem 0;
}