/* Color Theme Swatches in Hex

#F205CB
pink

#7C05F2
light purple

#6204BF
medium purple

#050259
dark purple

#F23827
red

*/
 @font-face {
    font-family: 'quicksandfont';
    src: url('../fonts/quicksandfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/quicksandfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/quicksandfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/quicksandfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/quicksandfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/quicksandfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-family:'quicksandfont', Helvetica, sans-serif;
 }